/* Base Structure */
html,
body {
  height: 100%;
  color: white;
}

/* Custom Cover Style */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url('../images/background.png');
  background-repeat: repeat;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner {
  padding: 2rem;
}

/* Header */
.masthead {
  margin-bottom: 0rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  background-color: transparent;
  color: #9B9B9B;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: white;
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Affix and center */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 75%;
  }
}
@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
.questions__lives-remaining {
  margin-bottom: 15px;
}
.form-check-input {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 15px 10px 10px 0;
}
.form-check-label {
  padding-left: 0.25rem !important;
}