<!-- Loader -->
<div class="text-center">
  <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw" ng-if="!contentReady"></i>
</div>
<!-- Content -->
<div class="animated fadeIn" ng-if="contentReady">
  <h3 class="text-center">Tableboard</h3>
  <p class="text-center">These are the best {{ maxMatches }} recent players</p>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="element in tableboard
        | orderBy: '-timestamp'
        | orderBy: '-score'
        | limitTo: maxMatches">
        <th scope="row">{{$index + 1}}</th>
        <td>{{ element.username}}</td>
        <td>{{ element.score }}</td>
      </tr>
    </tbody>
  </table>
  <!-- Go to Homepage -->
  <button type="button"
    class="btn btn-outline-warning btn-lg btn-block rounded-0"
    ui-sref="index">
    Homepage
  </button>
</div>